body, html, #root {
  color: rgb(201, 195, 195);
  background-color: #1A1411;
  height: 100%;
  margin: 0;
  padding: 0;
  
}



.heading h2{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 110px;
  font-weight: bold;
  font-family: "Stoke", serif;

}

.lister{
  margin: 50px  50px ;
  font-size: 20px;
}

.lister2{
  margin: 10px 0;
  padding: 10px;
  border-bottom: 0.5px solid #ccc;
}
